@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Libre+Franklin&display=swap');

h2{
  font-family: 'Libre Franklin';
  background-color: white;
}

  
.container-fluid {
    padding: 0px;
  }
  

  .h2 {
    text-align: center;
  }

h1 {
    font-family: 'Bitter';
    font-weight: bold;
 }

  body, h1 {
    text-align: center;
  }
  
 .font1 {
    font-family: 'Bitter';
    font-weight: bold;
    font-size: 32pt;
}
  
  
.opal {
    background: #C5D8D1;
    padding: 1px;
}
  

.font3 {
    font-family: 'Libre Franklin';
    font-size: 12pt;
}
 

.bluegreen {
    background-color: #06BCC1;

}

.prussianblue {
    background-color: #12263A;
}




a:visited {
    color: #12263A;
}

form{
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  background: #F4EDEA;
  border-radius: 10px;
}

input,
select{
  font-size: 15px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.newbutton{
    height: 50px; 
    background: #C5D8D1;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    transition: all 1000ms ease;
    transform-origin: right;
    color: #12263a;
  }
  
.newbutton:hover,
.newbutton:focus{
    background-color: #06BCC1;
    color: #12263A;
  }

.imgcontainer{
  width: 100%
}

footer{
  background-color: #F4D1AE;
  height: 75px;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-left: -1px;
}

.lorange {
  background-color: #F4D1AE;
  margin-bottom: -10px;
}
.books{
  margin-bottom: 10px;
}
